trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  terraformVersion: '1.13.4'

stages:
- stage: TerraformInit
  jobs:
    - job: Init
      steps:
        - checkout: self

        # Install Terraform
        - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@0
          displayName: 'Install Terraform'
          inputs:
            terraformVersion: $(terraformVersion)

        # Terraform Init
        - task: ms-devlabs.custom-terraform-tasks.custom-terraform-cli-task.TerraformCLI@0
          displayName: 'Terraform Init'
          inputs:
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            backendType: 'azurerm'
            backendServiceArm: 'AzureConnection'
            backendAzureRmResourceGroupName: 'tfstate-rg'
            backendAzureRmStorageAccountName: 'tfstatehubspoke'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'terraform.tfstate'

- stage: TerraformPlan
  dependsOn: TerraformInit
  jobs:
    - job: Plan
      steps:
        - checkout: self

        # Install Terraform again for this job
        - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@0
          displayName: 'Install Terraform'
          inputs:
            terraformVersion: $(terraformVersion)

        # Terraform Plan
        - task: ms-devlabs.custom-terraform-tasks.custom-terraform-cli-task.TerraformCLI@0
          displayName: 'Terraform Plan'
          inputs:
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
            environmentServiceNameAzureRM: 'AzureConnection'
